/* Changes bg color to ivory*/
body {
  background-color: ivory;
}
/* adds a quirky (te he) border to big epic cool title thing*/
a {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}
